@charset "utf-8";

body{
	color: white;
	font-family: Roboto, Arial, sans-serif;

}
.container{
	grid-template-columns: auto auto;
	display: grid;
	padding: 10px;
}
.item{
	text-align: left;
	padding: 5px;
}
.banner{
	justify-content: center;
	align-items: center;
	text-align: center;
	position: relative;
	height: 250px;
	background-image: url(information_banner.png);
	display: flex;
	width: 100%; 
}
fieldset{
	background-color: rgb(214,234,248);
}
legend{
	padding: 10px;
	background-color: #1c87c9;
}
label{
	color: black;
}
input[type="text"], input [type="textarea"]{
	padding: 5px;
	width: 100%;
	border-radius: 8px;
	border-style: solid;
	border-width: 2px;
	border-color: #43D1AF;
}
.btn{
	background-color: #1abc9c;
	color: white;
	font-size: 16px;
	width: 150px;
	border-radius:5px;
	border: none;
}